{% load staticfiles %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>DomestiCasa</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- !Contenido de la pagina! -->



{% block nav %}

{% endblock %}
{% block content %}
<h4>bloque de contenido </h4>
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>